.AddVacation form {
	display: flex;
    flex-direction: column;
    justify-content: first baseline;
    margin-left:20px ;
    margin-top:10px ;
}

.AddVacation textarea{
    width: 60%;
    height: 30vh;
}
.AddVacation input{
    width: 30%;
    height: 5vh;
    outline: none;
}
.AddVacation button{
    width: 100px;
}

.AddVacation span{
    color:red;
}
